*{
    box-sizing: border-box;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba(0,0,0,0);
}
#myBtn img{
    width: 32px;
    height: 32px;
}
body{
    background-color: #242121;
    margin: 0;
}
.Navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(41,40,40);
    z-index: 999999;
}
.Navbar h2{
    margin: 0;
}
.Search{
    display: flex;
    width: 40%;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
.Search input,.Search button, .Search, .Search select{
    background-color: #373737;
    border: none;
}
.Search input{
    border-radius: 0px 5px 5px 0;
    color: white;
    margin-left: 20px;
    width: 100%;
    outline: none;
}
.Search button{
    border-radius: 5px 0 0 5px;
    width: 16px;
    cursor: pointer;
}
.Search img{
    width: 16px;
    height: 16px;
    align-items: end;
}
.User{
    background-color: rgb(41,40,40);
    border: none;
}
.Shop{
    background-color: rgb(41,40,40);
    border: none;
}
.Navbar_Btn{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.Navbar_Btn a, .Navbar_Btn button{
    padding: 0 15px;
    cursor: pointer;
}
.Title{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin-left: 50px;
}
.Title img{
    width: 40px;
    height:60px;
    padding: 10px 0;
}
.GenreBar{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.GenreBar_block{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.GenreBar_block button{
    background-color: rgba(0,0,0,0);
    color: aliceblue;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
}
a{
    color: aliceblue;
    text-decoration: none;
}
.Space{
    position: static;
    padding-top: 60px;
}
.AnimeSlider{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    width: 100%;
}
.AnimeBlock{
    display: flex;
    color: aliceblue;
    border-radius: 6px;
    width: 35%;
    transform: scale(0.85);
    font-family: sans-serif;
    box-shadow: 0px 5px 1px rgba(0,0,0,0.3);
}
.AnimeBlock:hover{
    transform: scale(0.88);
}
.AnimeBlock_Txt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px 15px 15px;
}
.AnimeBlock_Txt h1{
    font-size: 28px;
}
.AnimeBlock_Txt a{
    border: 1px solid aliceblue;
    width: 30%;
    text-align: center;
}
.ImgAnime img{
    width: 218px;
    height: 321px;
    display: block;
    border-radius: 5px;
    border-bottom: 1px solid aliceblue;
    border-right: 6px double aliceblue;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.3);
    transform: scale(1.1) rotate(-2deg);
    margin-right: 10px;
}
.AnimeBlock_Txt p{
    margin: 3px;
    font-size: 16px;
}
.AnimeBlock_Txt h1{
    margin: 10px 0;
}
.v1{
    background-color: rgb(65,95,113);
}
.v2{
    background-color: rgb(87,63,113);
}
.v3{
    background-color: rgb(115,63,84);
}
.MainBlock{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
    font-family: sans-serif;
    color: aliceblue;
}
.block{
    display: flex;
    flex-direction: column;
    width: 1000px;
    background-color: #753d3d;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 100px;
    border: 1px solid aliceblue;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.3);
}
.block hr{
    border: 1px solid aliceblue;
    width: 100%;
}
.txtOption{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.blockAnime{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}
.blockAnime:hover{
    transform: scale(1.07);
}
.blockAnime button{
    width: 24px;
    height: 24px;
    background-color: rgba(0,0,0,0);
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 10px;
    cursor: pointer;
}
.blockAnime img{
    width: 100px;
    height: 150px;
    margin: 0px 0px 0px 0px;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.3);
    border: 2px double aliceblue;
    border-radius: 5px;
}
.blockAnime .number{
    width: 10%;
}
.number{
    display: flex;
    align-items: center;
}
.number div{
    display: flex;
    flex-direction: column;
}
.number input{
    height: 40%;
    width: 100%;
}
.txtTitle{
    width: 40%;
}
.sale{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sale button{
    color: aliceblue;
    border: 2px solid aliceblue;
    background-color: rgba(0,0,0,0);
    font-weight: bold;
    border-radius: 5px;
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
}
.sale button:hover{
    background-color: rgb(69, 150, 69);
    transform: scale(1.06);
}