*{
    box-sizing: border-box;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba(0,0,0,0);
}
#myBtn img{
    width: 32px;
    height: 32px;
}
body{
    background-color: #242121;
    margin: 0;
}
.Navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(41,40,40);
    z-index: 999999;
}
.Navbar h2{
    margin: 0;
}
.Search{
    display: flex;
    width: 40%;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
.Search input,.Search button, .Search, .Search select{
    background-color: #373737;
    border: none;
}
.Search input{
    border-radius: 0px 5px 5px 0;
    color: white;
    margin-left: 20px;
    width: 100%;
    outline: none;
}
.Search button{
    border-radius: 5px 0 0 5px;
    width: 16px;
    cursor: pointer;
}
.Search img{
    width: 16px;
    height: 16px;
    align-items: end;
}
.User{
    background-color: rgb(41,40,40);
    border: none;
}
.Shop{
    background-color: rgb(41,40,40);
    border: none;
}
.Navbar_Btn{
    display: flex;
    align-items: center;
    margin-right: 50px;
}
.Navbar_Btn a{
    padding: 0 15px;
}
.Title{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin-left: 50px;
}
.Title img{
    width: 40px;
    height:60px;
    padding: 10px 0;
}
.GenreBar{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.GenreBar_block{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.GenreBar_block button{
    background-color: rgba(0,0,0,0);
    color: aliceblue;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
}
a{
    color: aliceblue;
    text-decoration: none;
}
.Space{
    position: static;
    padding-top: 60px;
}

.MainBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: sans-serif;
    color: aliceblue;
}
.block{
    display: flex;
    transform: scale(1.1);
    width: 690px;
    background-color: #8a6363;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.3);
}
.block hr{
    border: 1px solid aliceblue;
    width: 100%;
}
.blockImg{
    display: flex;
    position: relative;
    border-radius: 60px;
    width: 100px;
    height: 100px;
    background-color: #a87a7a;
    overflow: hidden;
    border: 2px dotted aliceblue;
    justify-content: flex-end;
    margin-right: 30px;
} 
.blockImg img{
    transform: scale(1.2);
}
.txt{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.txt h2, .txt h3{
    margin: 10px 0;
}
.signOut{
    color: aliceblue;
    border: 1px solid aliceblue;
    background: rgba(0,0,0,0);
    cursor: pointer;
    font-size: 18px;
}
.signOut:hover{
    background-color: rgb(116, 83, 83);
    transform: scale(1.03);
}