body{
    background-color: #242121;
    margin-top: 50px;
}
.container{
    display: flex;
    justify-content: center;
}
.block_form{
    display: flex;
    justify-content: space-between;
    padding: 40px 30px 50px 30px;
    width: 50%;
    background-color: #dfdfdf;
    color: rgb(48,46,46);
    font-family: sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,6);
    border-radius: 15px;
}
.block_main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.block2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.block3{
    width: 48%;
}
.block2 .block_child2,.block2 .block_child{
    width: 48%;
}

.block_child{
    display: flex;
}
.block_child input{
    width: 100%;
}
.block_child2{
    display: flex;
    justify-content: space-between;
}
.block_child2 input, .block_child2 select{
    width: 45%;
}
.block_check{
    display: flex;
    flex-direction: column;
    width: 48%;
}
.txt{
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    padding: 10px;
}
.txt div{
    width: 48%;
}
input{
    background-color: rgba(0,0,0,0);
    color: rgb(31, 31, 31);
    border: none;
    border-bottom: 1px solid rgb(178,178,178);
}
img{
    width: 32px;
    height: 32px;
    margin: 5px;
}
select{
    background-color: rgba(0,0,0,0);
    color: rgb(26, 24, 24);
    border: none;
    border-bottom: 1px solid rgb(178,178,178);
}
.btnBlock{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.btnSubmit{
    display: flex;
    justify-content: center;
    background-color: rgb(0,139,139);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 7%;
    padding: 10px;
    width: 25%;
    cursor: pointer;
}
.date{
    color: rgb(26, 24, 24);
}